{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner-slider %}
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner ">
    <div class="carousel-item active">
       <img src="{% static 'images/banner/b1.jpg' %}" height="500" class="d-block w-100" alt="banner images">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/banner/b2.jpg' %}" class="d-block w-100" alt="banner images">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/banner/b3.jpg' %}" class="d-block w-100" alt="banner images">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/banner/b4.jpg' %}" class="d-block w-100" alt="banner images">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div><br>
{% endblock banner-slider %}

{% block information %}
<div class="container">
    <div class="row bg-success text-center p-5 text-white border-buttom shadow">
        <h1>Products</h1>
        <small class="fs-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos rem ut asperiores cupiditate! Dolores fugit molestiae aspernatur. Possimus commodi animi consequatur molestiae at corporis atque, earum quod tempore repellat? Itaque?</small>
    </div>
</div><br><br>
{% endblock information %}
 
{% block main-content %}
    <div class="container">
        <h1 class="text-center">Welcome Daily Products</h1><br><br>
        <div class="row container">
            <div class="col-md-4 col-sm-3 mi-go wow fadeInup"  data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
                <div class="goodnesssec buttermilk smbg">
                    <a href="{% url 'category' 'GH' %}">
                        <div class="goodnessseccont text-center">
                            <img src="{% static 'images/Product/buffalo-ghee.png' %}" class="img-responsive center-block" alt=""> 
                            <p class="mlkpro">Ghee</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 mi-go wow fadeInup"  data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
                <div class="goodnesssec buttermilk curdbgpro">
                    <a href="{% url 'category' 'CR' %}">
                        <div class="goodnessseccont text-center">
                            <img src="{% static 'images/Product/curd-total.png' %}" class="img-responsive center-block" alt=""> 
                            <p class="mlkpro">curad</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 mi-go wow fadeInup"  data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
                <div class="goodnesssec buttermilk buttermilk ">
                    <a href="{% url 'category' 'ML' %}">
                        <div class="goodnessseccont text-center">
                            <img src="{% static 'images/Product/tonemilk.png' %}" class="img-responsive center-block" alt=""> 
                            <p class="mlkpro">Tone milk</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 mi-go wow fadeInup"  data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
                <div class="goodnesssec buttermilk smbg">
                    <a href="{% url 'category' 'PN' %}">
                        <div class="goodnessseccont text-center">
                            <img src="{% static 'images/Product/paneer-lite.png' %}" class="img-responsive center-block" alt=""> 
                            <p class="mlkpro">panner lite</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 mi-go wow fadeInup"  data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
                <div class="goodnesssec buttermilk curdbgpro">
                    <a href="{% url 'category' 'ML' %}">
                        <div class="goodnessseccont text-center">
                            <img src="{% static 'images/Product/cow-milk.png' %}" class="img-responsive center-block" alt=""> 
                            <p class="mlkpro">cow milk</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 mi-go wow fadeInup"  data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
                <div class="goodnesssec buttermilk buttermilk">
                    <a href="{% url 'category' 'IC' %}">
                        <div class="goodnessseccont text-center   ">
                            <img src="{% static 'images/Product/icbars.png' %}" class="img-responsive center-block" alt=""> 
                            <p class="mlkpro">icbars</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock main-content %}
